ALPHA_VANTAGE_API_KEY="XXXXXXXX"
DEEPSEEK_API_KEY="XXXXXXXXXX"
OPENAI_API_KEY="XXXXXXXXXX"
SERPER_API_KEY="XXXXXXXXXX"
WORDPRESS_URL="example.com"
WORDPRESS_USERNAME="admin"
WORDPRESS_PASSWORD="password"